.projectDetailPage {
    display: flex;
    margin-bottom: 100px;
}

.leftSide {
    width: 80%;
    border-right: 1px solid var(--color-border);
}

.header .projectTitle {
    margin-bottom: 20px;
}

.minHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.postedDate,
.country {
    display: flex;
    align-items: center;
    gap: 10px;
}

.postedDate .icon,
.country .icon {
    font-size: var(--fs-md);
}

.devider {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    margin-top: 46px;
    margin-bottom: 46px;
}

.sectionTitle {
    font-size: var(--fs-base);
    font-weight: 450;
    margin-bottom: 12px;
}

.description {
    font-size: var(--fs-sm);
    line-height: 22px;
    margin-left: 5px;
    margin-right: 25px;
}


.skills {
    display: flex;
    gap: 10px;
}

.skill {
    background-color: var(--color-black);
    padding: 6px 15px;
    border-radius: 20px;
    font-size: var(--fs-xs);
    color: var(--color-white);
    text-transform: capitalize;
}

.projectInfos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.infoTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 450;
    font-size: var(--fs-md);
    margin-bottom: 10px;
    color: var(--color-success);
}

.infoTitle .icon {
    font: var(--fs-md);
}

.infoP {
    margin-left: 22px;
    font-weight: 500;
    font-size: var(--fs-md);
    text-transform: capitalize;
}

.rightSide {
    flex: 1;
    margin-left: 20px;
    margin-top: 25px;
}

.actions .actionLink {
    min-width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border: 1px solid var(--color-success);
    padding-inline: 15px;
    color: var(--color-success);
    border-radius: 10px;
    transition: .2s;
}

.actions .actionLink:hover {
    background-color: var(--color-success);
    color: var(--color-white);
    border-radius: 15px;
}

.clientInfos {
    margin-top: 40px;
}

.clientInfosTitle {
    font-size: var(--fs-lg);
    font-weight: 500;
}


.clientInfos .infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.proposalAlreadySent {
    border: 1px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 5px;
}

.proposalAlreadySent p {
    margin-bottom: 8px;
    font-size: var(--fs-base);
}

.proposalAlreadySent .viewProposalsLink {
    font-size: var(--fs-sm);
    color: var(--color-azure);
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    transition: .2s;
}
.proposalAlreadySent .viewProposalsLink:hover {
    color: var(--color-info);
}

.proposalAlreadySent .viewProposalsLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 13px;
    background-color: var(--color-info);
    transition: .2s;
}
.proposalAlreadySent .viewProposalsLink:hover::after {
    width: 100%;
}