

.label {
    font-size: var(--fs-md);
}

.filterBox {
    margin-bottom: 40px;
}

.filterItems {
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filterItem {
    display: flex;
    align-items: center;
    gap: 8px;

}

.filterItem span {
    font-size: var(--fs-md);
}

.filterItem input[type="checkbox"] {
    width: 22px;
    height: 22px;

}