.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  background-color: var(--color-light-gray);
  box-shadow: var(--bx-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu .menuLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: var(--fs-base);
  cursor: pointer;
  color: var(--color-black);
}

.activeLink {
  font-size: var(--fs-lg) !important;
  color: var(--color-success) !important;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-danger);
  text-align: end;
  font-size: var(--fs-md);
  margin-bottom: 20px;
  margin-right: 20px;
}
