.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f1;
  padding: 15px 100px;
  height: 70px;
  box-shadow: 0 5px 15px rgba(166, 166, 166, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  color: var(--color-success);
  font-weight: bold;
  font-size: var(--fs-xl);
}

.navbar_list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar_item {
  cursor: pointer;
}

.header_right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.header_right span {
  font-size: var(--fs-xl);
  margin-top: 5px;
  cursor: pointer;
}

.profile_icon {
  cursor: pointer;
}

.profile_icon img {
  width: 35px;
}

.profile_dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.show {
  visibility: visible;
  opacity: 1;
}


.active_link {
  color: var(--color-secondary) !important;
}

.link {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--fs-base);
}