.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 60px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  min-height: 70px;
  border-bottom: 1px solid #c0c0c0;
}

thead tr {
  height: 60px;
}

.table th {
  background-color: #f8f9fa;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

.table tbody tr:hover {
  background-color: #f1f3f4;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr td {
  font-size: var(--fs-ms);
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionBtn {
  background-color: var(--color-light);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  min-height: 40px;
  cursor: pointer;
  flex: 1;
  font-size: var(--fs-sm);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: all 0.2s;
}

.actionBtn:hover {
  background-color: var(--color-success);
  color: var(--color-white);
}

.status {
  height: fit-content;
  padding: 5px 10px 5px 24px;
  border-radius: 20px;
  position: relative;
  text-transform: capitalize;
  font-size: var(--fs-xs);
}

.status::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}

.numberProposalTr {
  max-width: 100px;
}

.titleCell {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: fit-content;
}

.titleCell span {
  font-size: var(--fs-sm);
  border-radius: 20px;
  font-weight: 500;
}

.numberProposalTd span {
  text-align: center;
  display: block;
  background-color: var(--color-secondary);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-md);
  border-radius: 50%;
  color: var(--color-white);
}

.empty {
  height: 50px;
  text-align: center !important;
  border-radius: 10px;
  font-size: var(--fs-sm);
  background-color: var(--color-light);
  border: 1px solid var(--color-border);
}
