.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-2xl);
  font-weight: bolder;
  color: var(--color-success);
}

