

.proposalsMain {
    background-color: var(--color-light);
    box-shadow: 0 0 20px #e6e6e6b6;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.projectsTitlesSide {
    background-color: var(--color-light-green);
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px #d4d2d2dd;
    color: var(--color-black);
    position: sticky;
    top: 130px;
    width: 320px;
    flex: 0 0 320px;
    height: fit-content;
}

.proposalsSection {
    flex: 1;
    padding: 10px 15px;
}

.proposalsTitle {
    font-size: var(--fs-xl);
}
