
.profile_menu {
    background-color: var(--color-white);
    width: 200px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile_menu .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--fs-base);
    color: var(--color-black);
}
