.container {
  margin-inline: 140px;
}


.client_content {
  margin-top: 120px;
}

@media (max-width: 1220px) {
    .container {
        margin-inline: 48px;
    }
}

@media (max-width: 700px) {
  .container {
    margin-inline: 18px;
  }
}
