.form_wrapper h1 {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  width: 600px;
}

.row {
  display: flex;
  gap: 20px;
}

.row div {
  flex: 1;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: var(--fs-xs);
  border-radius: 15px;
  border: 1px solid #ccc;
}

.full {
  width: 100%;
}

.role {
  margin: 15px 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

.role div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.role div label {
  margin-bottom: 10px;
}

.form .signup {
  width: 100%;
  padding: 12px;
  background: var(--color-secondary);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: var(--fs-base);
  margin-bottom: 20px;
}

.form .auth_switch .login {
  color: var(--color-success);
  font-size: var(--fs-base);
  text-transform: capitalize;
}

.auth_switch {
  display: flex;
  align-items: center;
  gap: 5px;
}
