.content {
  flex: 1;
  padding: 10px;
  background: var(--color-light-gray);
  height: 100vh;
}

/* Top bar */
.topBar {
  display: flex;
  margin-bottom: 20px;
}

/* Search */
.search {
  width: 450px;
  height: 45px;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.content h1 {
  color: rgb(20, 19, 20);
  display: inline-block;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-top: -50px;
}
