
.form_wrapper h1 {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  text-align: center;
}

.form input {
  display: block;
  width: 340px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 15px;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 200px;
  margin-bottom: 15px;
}
.remember input {
  width: auto;
  margin: 8px;
}

.remember label {
  margin-bottom: 10px;
}

.login {
  width: 340px;
  padding: 12px;
  background: var(--color-secondary);
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  font-size: var(--fs-base);
}

.signup {
  color: var(--color-success);
  font-size: var(--fs-base);
  text-transform: capitalize;
}

.auth_switch {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

