
.profilePage {
    width: 100%;
}

.pageTitle {
    font-size: var(--fs-lg);
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.editButton {
    border: 1px solid var(--color-secondary);
    width: 190px;
    height: 40px;
    border-radius: 10px;
    /* color: var(--color-secondary); */
    transition: .2s;
    font-size: var(--fs-base);
    color: var(--color-white);
    background-color: var(--color-secondary);
}

.editButton:hover {
    background-color: var(--color-success);
}

.editButton:active {
    transform: translateY(2px);
}

.main {
    margin-top: 60px;
}