.contractsPage {
  margin-bottom: 150px;
}

.contractsPageSubTitle {
  margin-left: 5px;
  color: var(--color-text-muted);
  margin-top: 7px;
}

.overviewTitle {
  font-size: var(--fs-xl);
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 450;
}

.contractsOverview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.contractsOverviewCard p:nth-child(2) {
  text-align: start;
  margin-left: 10px;
  margin-block: 5px;
}

.contractsListSection {
  margin-top: 40px;
}

.contractsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contractsListTitle {
  font-size: var(--fs-xl);
  font-weight: 500;
  color: var(--color-success);
}

.contractsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
